
Chuong trinh dao tao K22/Biểu mẫu liên quan học tập (Bộ phận giáo vụ)/Biểu mẫu liên quan đến học vụ, khảo thí.txt
Chuong trinh dao tao K22/CLC_Danh sach hoc phan tuong duong.pdf
Chuong trinh dao tao K22/Các kế hoạch đào tạo, học tập năm 2023-2024 (Bộ phận giáo vụ)/2024-FIT-Ke-hoach-nam-hoc.pdf
Chuong trinh dao tao K22/Các kế hoạch đào tạo, học tập năm 2023-2024 (Bộ phận giáo vụ)/\[CTĐA\] Kế hoạch mở học phần năm học 2023-2024 (dự kiến).txt
Chuong trinh dao tao K22/Các kế hoạch đào tạo, học tập năm 2023-2024 (Bộ phận giáo vụ)/CTDA_Ke-hoach-nam-2023-2024.pdf
Chuong trinh dao tao K22/Quy định, quy chế về học vụ (Bộ phận giáo vụ)/CTDT_CLC_Khoa-2022.pdf
Chuong trinh dao tao K22/Quy định, quy chế về học vụ (Bộ phận giáo vụ)/Các vấn đề liên quan đến chuẩn ngoại ngữ đầu ra khóa 2022.txt
Chuong trinh dao tao K22/Quy định, quy chế về học vụ (Bộ phận giáo vụ)/QD-111_QD-NN-K.-CNTT_DE-AN_K2022 (1).pdf
Chuong trinh dao tao K22/Quy định, quy chế về học vụ (Bộ phận giáo vụ)/Quy chế đào tạo 2021_ĐHTN.pdf
/HK6/MTH00008_Dai so tuyen tinh
/HK6/CSC13002_Nhap mon cong nghe phan mem/Lab/report-ignore
/HK6/CSC14003_Co so tri tue nhan tao/Lab/solution-ignore
/HK5/CSC10007_He dieu hanh/Theory/Final/solution-ignore
/HK6/CSC14003_Co so tri tue nhan tao/Theory/Homework/Individual/solution-ignore
/HK6/MTH00057_Toan ung dung va thong ke cho cong nghe thong tin/Lab/solution-ignore
password-pdf.txt
QuanSu/New Microsoft Word Document.docx
